<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
      <div class="example-spacer page__box p-3 mt-2">
        Home
        <button mat-raised-button class="btn btn-primary pull-right" (click)="download()">print results</button>
      </div>
      <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ">
          welcome
          <hr>
            <img src="assets/img/homee.png" alt="home page" class="img-fluid">
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
